<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Team</h2>
<table class="table table-striped table-bordered" id="studentTable" style="width:100%">
  <thead>
    <tr>
      <th>Basketball Id</th>
      <th>Team Name</th>
      <th>City</th>
      <th>Average PPG</th>
      <th>LogoA</th>
      <th>Mascot</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof students != "undefined" && students.length > 0){ %>
    <% students.forEach(function(student){ %>
      <tr>
        <td><%= student.basketball_id %></td>
        <td><%= student.team_name %></td>
        <td><%= student.city %></td>
        <td><%= student.offensive_average %></td>
        <td><%= student.logo %></td>
        <td><%= student.mascot %></td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>
